/*
Project: Mcr Ferrara - Sito ufficiale
Author: Riccardo Padovani <ricki.padovani@gmail.com>
Copyright: 2011-2012 Riccardo Padovani
License: GPL-2+
This program is free software; you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the Free
Software Foundation; either version 2 of the License, or (at your option)
any later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
more details.

On Debian GNU/Linux systems, the full text of the GNU General Public License
can be found in the file /usr/share/common-licenses/GPL-2.
*/

/*Carichiamo i font di Ubuntu*/
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

/*Scegliamo le impostazioni per il corpo della pagina*/
body {
    margin: 0;                                          /*Pagina senza margini*/

    /*Impostazioni dello sfondo*/
    background-image: url(../img/sfondo.jpg);
    background-color: white;
    background-repeat: repeat;
}

/*Contenitore di tutta la pagina*/
#contenitore_generale {
    margin-left: auto;                                  /*Posizionato al centro*/
    margin-right: auto;

    width: 966px;                                       /*Larghezza*/

    font-family: 'Ubuntu', sans-serif;                  /*Tutto il testo in Ubuntu*/
}

img {
    border: none;
}

/*
#####                   #####
#                           #
#   IMPOSTAZIONI TESTATA    #
#                           #
#####                   #####
*/

/*Impostiamo la testata che contiene il menù*/
#testata {
    /*Dimensioni*/
    height: 70px;
    width: 100%;

    padding-left: 10px;                             /*I link iniziano 10px più a sinistra in modo che l'hover del primo link non cancelli le curve*/

    /*Impostazioni dello sfondo*/
    background-image: url(../img/sfondo_menù_superiore.png);
    background-repeat: repeat-x;

    /*Impostazioni del testo*/
    text-align: center;
    color: white;
    font-size: 20px;
}

/*Impostazioni dei link del menù*/
#testata a:link, #testata a:visited, #testata a:hover, #testata a:active{
    color: white;
    text-decoration: none;
}

/*Impostiamo i link superiori del menù*/
.link_sup, .link_sup_first {
    /*Posizionamento*/
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 34px;

    /*Dimensioni*/
    width: auto;
    height: 36px; /*70 pixel di altezza della barra superiore meno 34 pixel di padding-top*/
}

/*Impostiamo lo sfondo per i link del menù superiore quando sono selezionati o quando ci si passa sopra*/
.link_sup_sel, .link_sup:hover {
	/*Sfondo*/
	background-image: url(../img/sfondo_menù_superiore_selezionato.png);
	background-repeat: x-repeat;

	/*Posizionamento*/
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 34px;

    /*Dimensioni*/
    width: auto;
    height: 36px; /*70 pixel di altezza della barra superiore meno 34 pixel di padding-top*/
}

/*Impostiamo lo sfondo per il primo link del menù superiore quando sono selezionati o quando ci si passa sopra*/
.link_sup_sel_first, .link_sup_first:hover {
	/*Sfondo*/
	background-image: url(../img/sfondo_menù_superiore_selezionato_primo.png);
	background-repeat: x-repeat;

	/*Posizionamento*/
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 34px;

    /*Dimensioni*/
    width: auto;
    height: 36px; /*70 pixel di altezza della barra superiore meno 34 pixel di padding-top*/
}

/*Testo Mcr Ferrara*/
.logo_testata {
    /*Posizionamento*/
    float: right;
    margin-right: 15px;
    margin-top: 16px;

    /*Impostazioni del testo*/
    font-variant: small-caps;
    font-size: 40px;
}

/*Logo Mcr Ferrara*/
.logo_testata img {
    vertical-align: text-top;
}

/*
#####                   #####
#                           #
#   IMPOSTAZIONI CONTENUTO  #
#                           #
#####                   #####
*/
/*Il contenitore del testo*/
#contenuto {
    /*Sfondo*/
    background-color: white;

    /*Dimensioni*/
    width: 92.5%;
    height: auto;

    /*Posizionamento*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;

    /*Posizione del testo*/
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

/*Il titoletto dei paragrafi*/
h2 {
    /*Impostazioni del testo*/
    color: #008000;                          /*Verde*/
    font-size: 18px;
    text-indent: 15px;

    /*Bordino sotto*/
    border-bottom: 1px solid #008000;

    /*Posizionamento*/
    margin-top: 16px;
    margin-bottom: 5px;
    clear: both;
}

/*I paragrafi*/
p {
    font-size: 15px;

    margin-top: 5px;
}

/*Impostazioni per i link*/
a, a:hover, a:visited {
    color: #014D03;
}

/*Regole generali tabelle*/
.fisso {
	width: auto;
	font-weight: bold;
}
.descr {
	padding-left: 15px;
}
.tabella_segreterie {
	font-size: 15px;
}

/*
#####                   #####
#                           #
#   IMPOSTAZIONI SOTTOMENÙ  #
#                           #
#####                   #####
*/

/*Impostazioni del sottomenù*/
#sottomenù {
    /*Dimensioni*/
    height: 36px;
    width: 96.4%;

    /*Posizionamento*/
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;

    /*Sfondo*/
    background-color: silver;
    background-repeat: repeat-x;
    background-image: url(../img/sfondo_sottomenù.jpg)
}

/*Impostazioni dei link del sottomenù*/
.link_sub a:link, .link_sub a:visited{
    color: black;
    text-decoration: none;
}

/*Link in verde quando selezionati*/
.link_sub a:hover, .link_sub a:active {
	color: #008000;			/*Verde*/
	text-decoration: none;
}

/*Impostazioni del sottomenù*/
.link_sub, .link_sub_active {
    /*Posizionamento*/
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 15px;

    /*Testo*/
    font-size: 18px;
}

/*Link della pagina selezionata*/
.link_sub_active a{
	color: #008000;			/*Verde*/
	text-decoration: none;	/*Nessuna sottolineatura*/
}

/*
#####                   #####
#                           #
#   IMPOSTAZIONI FOOTER     #
#                           #
#####                   #####
*/
#footer {
	font-size: x-small;

	/*Dimensioni e posizione*/
	width: 93%;
	margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/*Link in basso a sinistra nel footer*/
.link_footer {
	float: left;
	background-color: white;
}

/*Crediti in basso a destra nel footer*/
.crediti {
	float: right;
	background-color: white;
}

/*
#####                   #####
#                           #
#   IMPOSTAZIONI PRIVACY    #
#                           #
#####                   #####
*/
/*Testo piccolo nella privacy*/
.privacy {
	font-size: small;
}

/*Lista principale privacy*/
ul.privacy {
	list-style-type: decimal;	/*La lista in numeri*/
}

/*Lista secondaria privacy*/
ul.privacy_sub {
	list-style-type: lower-alpha; /*Lettere minuscole dell'alfabeto*/
}

/*
#####                   #####
#                           #
#   IMPOSTAZIONI HOMEPAGE   #
#                           #
#####                   #####
*/
/*Contenitore piccolo che contiene le informazioni in homepage */
.contenitore_piccolo {
    /*Posizionamento*/
    float: left;
    margin-right: 1.3%;
    margin-left: 1.3%;

    /*Dimensioni*/
    width: 30.7%;
    height: 250px;

    background-color: white; /*Sfondo*/
}

/*Titolo del contenitore in homepage*/
.titolo_contenitore_piccolo {
    background-color: #014D03;			/*Verde scuro*/

    /*Testo*/
    color: white;
    font-weight: bold;
    padding: 3px;

}

/*Le singole voci distanziate le une dalle altre*/
.voce_contenitore_piccolo {
    /*Posizionamento*/
    padding: 3px;
    margin-bottom: 3px;
    margin-top: 3px;

    /*Bordo*/
    border-bottom: 1px solid gray;
}

/*Dettagli nel contenitore piccolo*/
.dettagli_contenitore_piccolo, .dettagli_contenitore_piccolo a {
    /*Testo*/
    font-size: small;
    font-style: italic;
    color: gray;
}

/*Contenitore di tutti i contenitori piccoli in basso nella pagina*/
#isole_home_page {
    /*Posizionamento*/
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

    background-color: #DFDCD9; /*Grigio chiaro chiaro*/
}

/*Link che porta alle varie pagine nei contenitori*/
.vedi_altro_contenitore_piccolo, .vedi_altro_contenitore_piccolo a {
    /*Opzioni testo*/
    text-align: right;
    padding: 3px;
    color: black;
    text-decoration: none;
}

/*I link ai convegni nei contenitori piccolini in nero*/
.titoletto_contenitore_piccolo a {
    /*Opzioni testo*/
    color: black;
    text-decoration: none;
}

/*Contenitore vuoto per far allungare il contenitore padre in modo che i figli con float non escano*/
.chiusura {
    clear: both;
}

/*
#####                   #####
#                           #
#   IMPOSTAZIONI CONVEGNI   #
#                           #
#####                   #####
*/
/*Div che contiene l'anno in cui si è svolto il convegno nella lista di tutti i convegni*/
.anno_convegno {
    /*Posizione*/
    float: left;
    margin-left: auto;
    margin-right: auto;

    width: 30%; /*Dimensione*/
}

/*Link che indirizzano all'anno*/
.anno_convegno a {
    color: black;			/*Nero*/
	text-decoration: none;	/*Nessuna sottolineatura*/

	font-size: large;       /*Dimensioni font*/
}

/*Il div che contiene ogni singolo convegno*/
.singolo_convegno {
    /*Bordino verde in basso, che separi i convegni*/
    border-bottom: 1px solid #008000;

    /*Un po' di margine dall'alto, e distacchiamo il contenuto dalla riga*/
    margin-top: 5px;
    padding-bottom: 3px;

    /*Dimensioni*/
    height: 100px;
}

/*Data di ogni convegno*/
.data_singolo_convegno {
    /*Posizione e dimensione*/
    float: left;
    width: 120px;

    text-align: center;
}

/*Il giorno delle date dei singoli convegni*/
.giorno_singolo_convegno {
    /*Dimensione testo*/
    font-size: 40px;
}

/*Il mese delle date dei singoli convegni*/
.mese_singolo_convegno {
    /*Dimensioni testo*/
    font-size: 20px;
}

/*L'anno delle date dei singoli convegni*/
.anno_singolo_convegno {
    /*Dimensioni testo*/
    font-size: 15px;
}

/*Il luogo in cui si svolge ogni singolo convegno*/
.luogo_singolo_convegno {
    /*Caratteristiche del testo*/
    font-size: 15px;
    color: gray;
    font-style: italic;
}

/*Il titolo di ogni singolo convegno*/
.titolo_singolo_convegno {
    /*Caratteristiche del testo*/
    font-size: 19px;

}

/*La striscia di icone sotto i convegni*/
.icone_singolo_convegno {
    height: 40px; /*Altezza*/

    /*Posizione*/
    margin-top: 5px;
    float: left;
}

/*Altezza massima delle icone sotto i convegni */
.icone_singolo_convegno img {
    height: 40px;
    margin-left: 15px; /*Posizione*/
}

/*Scritta leggi tutto in ogni convegno */
.leggi_tutto_singolo_convegno {
    float: right; /*Posizione*/
    margin-top: 35px;
}

/*Link nel leggi tutto in ogni singolo convegno*/
.leggi_tutto_singolo_convegno a {
    /*Impostazioni del testo*/
    color: black;
    text-decoration: none;
}

/*
#####                   #####
#                           #
#     DETTAGLI CONVEGNO     #
#                           #
#####                   #####
*/
/*Il titolo del convegno*/
.titolo_dettaglio_convegno {
    /*Impostazioni del testo*/
    text-align: center;
    font-size: large;
}

/*La barra con i bottoni per i social*/
.bottoni_sociali {
    margin-top: 10px;
    float: left;
}

/*L'immagine delle relazioni deve essere piccolo*/
.img_relazioni {
    height: 55px;
}

/*
#####                   #####
#                           #
#     IMPOSTAZIONI FORM     #
#                           #
#####                   #####
*/
/*Impostazioni del fieldset*/
fieldset {
    border: 1px dashed #008000;	/*Verde*/
}

/*Tutti gli input hanno font uguale*/
input, select {
    /*Impostazioni font*/
    font-family: 'Ubuntu';
    font-size: 15px;
    margin-top: 10px;
    clear: both;
}

input {
    /*Posizione e dimensione*/
    padding-left: 5px;
    height: 31px;
    width: 208px;
    margin-left: 10px;
    margin-top: 5px;

    border: 1px solid #ccc;     /*Bordo*/
}

/*Etichette del form*/
label.sx {
    padding-left: 10px;         /*Rientro della scritta*/

    /*Dimensioni e posizione*/
    width: 270px;
    height: 35px;
    line-height: 35px;
    display: block;
    float: left;
    margin-top: 5px;
    clear: both;
}

/*Bottone per la ricerca*/
input.bottone {
    /*Posizione e dimensione*/
    float: right;
    height: 31px;
    width: 150px;
    display: block;

    border: 2px solid #DFDCD9; /*Bordi grigio chiaro*/

    background-color: white;
}

input.termini {
    vertical-align: middle;
    padding-left: 0px;
    margin-top: 0px;
    width: auto;
}

/*Menù a tendina generico*/
select.generico {
    border: none;   /*Niente bordo*/

    /*Posizione e dimensione*/
    height: 35px;
    min-width: 216px;
    margin-left: 10px;
    margin-top: 5px;

}
label.error {
    color: red;
    clear: both;
    display: inline;
    margin-left: 10px;
}

/*
#####                   #####
#                           #
#   IMPOSTAZIONI CONTATTI   #
#                           #
#####                   #####
*/
/*Badge di G+ da mettere di fianco a quello di fb*/
.badge_google, .badge_fb {
    float: left;
}

.badge_google {
    margin-left: 30px;
}

/*
#####                   #####
#                           #
#   IMPOSTAZIONI SERVIZI    #
#                           #
#####                   #####
*/
/*Elenco puntato dei servizi*/
ul.servizi {
    list-style: none;   /*nessun punto*/
}

ul.elenco_relazioni {
    list-style: square;
}

ul.elenco_relazioni a, ul.mappa_sito a {
    text-decoration: none;
}

ul.mappa_sito {
    list-style: circle;
}

#cambia {
    display: inline;
}
