/*
Project: Mcr Ferrara - Sito ufficiale  
Author: Riccardo Padovani <ricki.padovani@gmail.com>
Copyright: 2011-2012 Riccardo Padovani
License: GPL-2+
This program is free software; you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the Free
Software Foundation; either version 2 of the License, or (at your option)
any later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
more details.

On Debian GNU/Linux systems, the full text of the GNU General Public License
can be found in the file /usr/share/common-licenses/GPL-2.
*/

/*Il file contiente tutte le regole che riguardano la gestione della parte con le segreterie scientifiche*/

/*Impostazioni immagini elenco segreterie scientifiche*/
.img_gastrocare, .img_aaroi, .img_sifl, .img_sedi, .img_smc {
    height: 75px;
    display: block;
	margin: 0px auto;
	text-align: center;
    margin-top: 10px;
}

/*Impostazioni delle segreterie nelle singole pagine*/
.img_sedi_pagina {
	height: 100px;
	margin-left: 357px;
}

.img_sifl_pagina {
	margin-left: 248px;
}

.img_smc_pagina {
	margin-left: 377px;
}
