<footer class="footer container">
    <div class="row">
        <div class="col"><a href="info_sito.php">Informazioni sul sito</a> | <a href="privacy.php">Privacy</a> | <a href="mappa.php">Mappa del sito</a></div>
        <div class="col text-right">P.IVA: 02110230386</div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--<svg>-->
<!--    <filter id="wavy2">-->
<!--        <feturbulence x="0" y="0" baseFrequency="0.02" numOctaves="5" seed="1"></feturbulence>-->
<!--        <feDisplacementMap in="SourceGraphic" scale="20" />-->
<!--    </filter>-->
<!--</svg>-->

<!--<script>-->
<!--    // First call-->
<!--    ScrollHeight();-->

<!--    // Redraw when viewport is modified-->
<!--    window.addEventListener('resize', function(event){-->
<!--        ScrollHeight();-->
<!--    });-->

<!--    window.addEventListener('click', function () {-->
<!--        document.cookie = "closeMessage=true;samesite=strict"-->

<!--        const content = document.querySelector('#farewell');-->
<!--        const container = document.querySelector('#farewell-contain');-->

<!--        content.style.display = 'none';-->
<!--        container.style.display = 'none';-->
<!--    })-->


<!--    function ScrollHeight() {-->
<!--        const content = document.querySelector('#farewell');-->
<!--        const container = document.querySelector('#farewell-contain');-->

<!--        if (!document.cookie.split('; ').find(row => row.startsWith('closeMessage'))) {-->
<!--            content.style.display = 'flex';-->
<!--            container.style.display = 'flex';-->
<!--        }-->


<!--        // SVG feTurbulence can modify all others elements, that's why it's in absolute-->
<!--        // so for a better effect, absolute height is defined by his content.-->
<!--        content.style.height = container.offsetHeight + 'px';-->
<!--    }-->
<!--</script>-->
</body>
</html>
